body {
  margin: 0px;
}
body > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 25%;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
  font-size: 18px;
}
.nav li a {
  display:block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
.nav li a.active {
  background-color: LightSteelBlue;
  color: white;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
}
.nav li a:hover:not(.active) {
  background-color: #555;
  color: white;
}
div {
  margin-left: 25%;
  padding: 1px 16px;
  border-left: 2px solid black;
}
div:not(#head) {
  font-family: Georgia, serif;
  font-size: 18px;
}
#head {
  height: 69px;
  background-color: LightSteelBlue;
  border-bottom: 2px solid black;
}
h1 {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif; 
  font-size: 36 px;
}
.end div {
  height: 700px;
}
