body {
  background-color: #C6E2FF;
}
h1 {
  font-family: Verdana, sans-serif;
  color: #576D94;
  text-align: center;
}
p {
  font-family: Garamond, serif;
  font-size: 18px;
  color: #4A4943;
  text-align: center;
}
