body {
  background-color: #C6E2FF;
}
h1 {
  font-family: Verdana, sans-serif;
  color: #576D94;
  text-align: center;
}
p {
  font-family: Garamond, serif;
  font-size: 18px;
  color: #4A4943;
  text-align: center;
}
ul {
 list-style-type: none;
  margin: 0;
  padding: 0;
  width: 60px;
  background-color: #f1f1f1;
  height: 100%;
  position: fixed;
  overflow: auto;
}
li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}
li a:hover{
  background-color: #555
  color: white;
}
.active {
  background-color: #4CAF50;
  color: white;
}
