body {
  background-color: #C6E2FF;
}
h1 {
  font-family: Verdana, sans-serif;
  color: #576D94;
  text-align: center;
}
p {
  font-family: Garamond, serif;
  font-size: 18px;
  color: #4A4943;
  text-align: center;
}
img {
  width: 300px;
  height: 300px;
  margin: auto;
}
#me.jpg {
  width: 300px;
  height: 300px;
  margin: auto; 
  border-color: Crimson;
  border-style: solid;
  border-width: 4px;
  border-radius: 5px;
}
#header {
  width: 300px;
  height: 300px;
  margin: auto;
  border-color: Crimson;
  border-style: solid;
  border-width: 4px;
}
